.sidebar {
  background-color: #f9f9f9;
  box-shadow: inset 1px 1px 6px #808080;
  font-weight: bold;
  padding: 12px 4px;
  line-break: anywhere;
  max-width: 150%;
}

.sidebar__project {
  font-weight: bold;
  padding: 8px 0px;
  text-align: center;
}

.sidebar__project:hover {
  box-shadow: inset 1px 1px 6px #808080;
}

.project__delete-button {
  border: 0px;
  background-color: red;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;

  &:hover {
    background-color: rgb(138, 0, 0);
  }
}
